<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.virtualmenu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualMenu"
        tools:targetApi="31">
        <activity
            android:name=".TodoslosProductos_Activity"
            android:exported="false" />
        <activity
            android:name=".TesActivity"
            android:exported="false" />
        <activity
            android:name=".CervezasActivity"
            android:exported="false" />
        <activity
            android:name=".RefrescosActivity"
            android:exported="false" />
        <activity
            android:name=".GaseosasActivity"
            android:exported="false" />
        <activity
            android:name=".ExtrasActivity"
            android:exported="false" />
        <activity
            android:name=".SegundosActivity"
            android:exported="false" />
        <activity
            android:name=".SopasActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AcercadeActivity"
            android:exported="false" />
        <activity
            android:name=".PostresActivity"
            android:exported="false" />
        <activity
            android:name=".BebidasActivity"
            android:exported="false" />
        <activity
            android:name=".PlatosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>